
nav{
    color:white;
    background-color: rgb(150, 150, 150);
}

section{
    padding-top: 80px;
    min-height: 600px;
    padding-bottom: 80px;
}
.tagline{
    border-left: 3px solid white;
}
.profile{
    width: 350px;
    height: 350px;
}


.header{
    color :white;
    background-image: url(../img/header.jpeg);
    background-position: center;
    background-size:cover ;
}

.about{
    color : White;

    background-color: rgb(0, 80, 199);
}

.skills{
    color : white ;
    background-image: url(../img/skills.jpeg);
    background-size: cover;
}

.php{
    background-color: #8993be;
}
.js{
    background-color: #f3e11d;
}
.ps{
    background-color: #080049;
}

.word{
    background-color: rgb(75, 117, 255);
}

.pinnacle{
    background-color: grey;
}